.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
@media screen and (min-width: 590px){
    .container {
        width: 590px;
    }
}

@media screen and (max-width: 589px){
    .container {
        padding: 0px;
    }
    .navbar {
        padding: 10px;
    }
}
