<h3>Welcome to the Whatter!</h3>

Hi {{ user.fullName }},
You have successfully created a Whatter account.
Please check on the link below to verify your email address and complete your registration.

<a href="{{ url('security_confirm', {'token': user.confirmationToken}) }}">
    Verify your email
</a>

Thank You!